p {
    font-family: 'Source Sans Pro';
    font-size: 12pt;
    font-weight: 200;
    width: 100%;
}

.title-apply{
	color: #1CA5AA;
	margin-top: 10px;
	font-weight: bold;
}

.application-text{
	color: #000;
	font-size: 12pt;
    opacity: 0.7;
}

.application-title{
	font-size: 16pt;
}

.application-subtitle{
	font-size: 12pt;
	color:  #78CCCB;
}

.full{
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 15px;
}

.checkbox-style{
	color:#000; 
	opacity:.7;
}
.select_style 
{   box-shadow: 0 3px 6px rgba(0,0,0,0.05), 0 3px 6px rgba(0,0,0,0.05);
    margin-left: auto;
    margin-right: auto;
    border: 1px solid  rgba(0,0,0,0.33);
    border-radius: 0px;
    background-color: #fff;
    max-width: 100%;
    overflow: ellipsis;
    min-width: 270px;
}

.select_style select
{
    -webkit-appearance: none;
    appearance:none;
    width:120%;
    background:none;
    background:transparent;
    border:none;
    outline:1px black;
    cursor:pointer;
    padding:7px 10px;
    max-width: 100%; 
    text-overflow: ellipsis;
    min-width: 270px
}

.addMargin{
    padding: 15px;
}

.textfield{
    box-shadow: 0 3px 6px rgba(0,0,0,0.05), 0 3px 6px rgba(0,0,0,0.05);
    border: 1px solid  #ccc;
    width: 85%;
    height: 100px !important ;
    display: inline;
}

.subtitle {
    margin-top: 30px;
}

.field-form .label-apply {
    display: block;
}
