body {
	background-color: #ffffff;
	margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
    font-size: 12pt;
    display: flex;
}

.title-apply{
	color: #1CA5AA;
	margin-top: 10px;
	font-weight: bold;
}

.header-apply{
    height: 120px; 
}

.application-text{
	color: #000;
	font-size: 16pt;
}


.application-title{
	font-size: 16pt;
}

.application-subtitle{
	font-size: 12pt;
	color:  #78CCCB;
}