p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 12pt;
    font-weight: 200;
    width: 100%;
}
html input[type="checkbox"] {
}

.title-apply{
	color: #1CA5AA;
	margin-top: 10px;
	font-weight: bold;
}

.application-text{
	color: #000;
	font-size: 12pt;
    opacity: 0.7;
}

.application-title {
	font-size: 16pt;
    margin-bottom: 20px;
    margin-top: 10px;
}

.application-subtitle {
	font-size: 12pt;
	color:  #78CCCB;
    margin-bottom: 20px;
    margin-top: -10px;
}

.select_style {
    box-shadow: 0 3px 6px rgba(0,0,0,0.05), 0 3px 6px rgba(0,0,0,0.05);
    margin-left: auto;
    margin-right: auto;
    border: 1px solid  rgba(0,0,0,0.33);
    border-radius: 0;
    background-color: #fff;
    max-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.select_style select {
    -webkit-appearance: none;
    appearance: none;
    width:120%;
    background:none;
    background:transparent;
    border:none;
    outline:1px black;
    cursor:pointer;
    padding:7px 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.textfield {
    box-shadow: 0 3px 6px rgba(0,0,0,0.05), 0 3px 6px rgba(0,0,0,0.05);
    border: 1px solid  #ccc;
    width: 85%;
    height: 100px;
    display: inline;
    resize: vertical;
    margin-bottom: 10px;
}

.subtitle {
    margin-top: 30px;
}

.form-field .form-label {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.ui-autocomplete {
    max-height: 100px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
    font-family: 'Ubuntu', sans-serif !important;
    font-size: 13px !important;
}
.ui-state-active {
    background-color: #337ab7 !important;
    border: none !important;
}

* html .ui-autocomplete {
    max-height: 200px;
}

#id_cortex {
    height: 150px;
}
#id_cortex:focus {
    outline: none;
}