/* Elements */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 12pt;
    color: #4a4948;
    background-color: white;
}

h1 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 16pt;
    font-weight: bold;
    color: #0093B1;
    padding: 0;
    margin: 25px 4% 0;
}

h2 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 14pt;
    letter-spacing: 0.4px;
    font-weight: bold;
    color: #4a4948;
    padding: 0;
    margin-top: 0;
}

h3 {
    font-size: 11pt;
    letter-spacing: 0.4px;
    color: white;
    padding: 0;
}

h4 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 14pt;
    color: #4a4948;
    padding: 0;
    margin-top: 0;
}

p {
    font-family: 'Ubuntu', sans-serif;
    font-size: 12pt;
    font-weight: 300;
    width: 90%;
}

a {
    color: #337ab7;
    text-decoration: none
}
/* --- Utility Classes --- */

/*.turquoise {
    background: rgba(0, 169, 194, 0.7);
}

.blue {
    background: rgba(0, 99, 176, 0.7);
}

.lightTurquoise {
    background: rgba(97, 192, 212, 0.7);
}

.darkBlue {
    background: rgba(15, 59, 127, 0.7);
}

.lightBlue {
    background: rgba(64, 161, 218, 0.7);
}

.yellow {
    background: #FFE641;
}

.grey-text {
    color: rgba(37, 37, 37, 0.63);
}*/

.yellow-text {
    color: #e8b92b;
}

.mustard-text {
    color: #c09b2e;
}

.orange-text {
    color: #ed9a48;
}

.orange-red-text {
    color: #ef7a54;
}

.red-text {
    color: #f16768;
}

.yellow-bg {
    background-color: #e8b92b;
}

.orange-bg {
    background-color: #ed9a48;
}

.orange-red-bg {
    background-color: #ef7a54;
}

.red-bg {
    background-color: #f16768;
}

#container {
    margin-left: 0;
    width: 100%;
    position: absolute;
}

.section-container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

.center-col {
    margin: 10px auto;
}

.col-1 {
    width: 80%;
}

.col-2 {
    width: 49%;
}

.col-3 {
    width: 33%;
}

.col-2-bigL {
    width: 59.5%;
    padding-left: 25px;
}

.col-2-smallR {
    width: 39.5%;
    padding-right: 25px;
}

.flex-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
    align-items: center;
}

.visibilityVisible {
    visibility: visible !important;
    transition: visibility 0.4s;
}

.visibilityHidden {
    visibility: hidden !important;
    transition: visibility 0.4s;
}

.noUnderline {
    text-decoration: none !important;
}

p.big-text {
    width: 525px;
    max-width: 90%;
}

/* --- Header and Header Content --- */
#header-pad {
    padding-top: 100px;
}

.header {
    top: 0;
    height: 100px;
    /*box-shadow: 0 -4px 16px 0 #000000;*/
    text-align: center;
    padding: 0;
    width: 100vw;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    opacity: 1;
    background-color: white;
    /*border-bottom: #4a4948 solid 3px;*/
    border-bottom: #eeeeee solid 1px;
}

.header button {
    font-size: 16px;
    font-weight: bolder;

    padding: 5px 10px;
    width: 90px;
    margin: 2px 0 2px 10px;

    box-shadow: none;

    color: #e8b92b;

    background-color: white;
    border-radius: 5px;
    border: 2px solid #e8b92b;

    text-decoration: none;
    transition: all 0.2s;
    line-height: inherit;
}

.header button:hover {
    background-color: #e8b92b;
    color: white;
    cursor: pointer;
    transition: all 0.2s;
}

.header p {
    margin: 0;
    padding: 0;
}

.header-condensed {
    height: 80px !important;
    transition: height 0.4s;
}

#eventInfo {
    text-align: left;
    width: 300px;
    position: fixed;
    top: 0;
    left: 50px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: left 0.4s;
}

.header-condensed #eventInfo {
    padding-left: 25px;
    transition: padding-left 0.4s;
}

#eventInfo * {
    margin: 0;
    padding: 0;
    color: #e8b92b;
}

#logo {
    height: 80%; /*70%;*/
    width: 100vw; /*300px;*/
    margin: 10%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo-text {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    margin: 0 auto;
    vertical-align: middle;
    cursor: pointer;
}

#logo a {
    padding: 0 0;
    margin: 0 0 0 0;

    /*display: block;*/
    max-height: 100%;
}

#scroll-down{
    position: fixed;
    bottom: 20px;
    left: calc(50vw - 16px);
    cursor: pointer;
}

#headerButtons {
    text-align: center;
    width: 300px;
    position: fixed;
    top: 0;
    right: 50px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header-condensed #headerButtons, .header-condensed #headerDropdown {
    padding-right: 25px;
    transition: padding-right 0.4s;
}

#headerDropdown {
    display: none;
    position: fixed;
    top: 33px;
    right: 25px;
    text-align: right;
}

#dropdownContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: fixed;
    text-align: center;

    height: 120px;
    width: 160px;
    top: 99px;
    right: -160px;
    transition: right 0.5s;

    /*border-top: 3px solid #4a4948;*/
    /*border-left: 3px solid #4a4948;*/
    /*border-bottom: 3px solid #4a4948;*/

    border-top: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;

    background-color: white;
    opacity: 0.95;
}

#dropdownContent.expanded {
    right: 0px;
    transition: right 0.5s;
}

#dropdownContent a {
    margin: 2px 0;
}

.header-condensed #dropdownContent {
    top: 60px !important;
    transition: top 0.4s;
}

#dropdownTrigger {
    color: #e8b92b;
}

#dropdownTrigger:hover{
    cursor: pointer;
    color: #807f7e;
}

/* --- Dynamic People --- */
#people-container {
    margin-top: 200px;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

#bubble {
    margin-bottom: 200px;
    position: relative;
    /*left: calc(50% - 130px);*/
    height: 40px;
    width: 40px;
    transform: translate(-80px, 75%);
}

#bubble-text {
    position: relative;
    top: -12px;
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: 700;
}

#bubble-circle {
    background-color: #e8b92b;
    height: 10em;
    /*left: 9em;*/
    position: absolute;
    /*top: 5em;*/
    width: 12em;
    /*-moz-border-radius: 80px;*/
    /*-webkit-border-radius: 80px;*/
    border-radius: 80px;
}

#bubble-triangle {
    border-color: transparent transparent #e8b92b transparent;
    border-style: solid;
    border-width: 2em;
    position: relative;
    width: 0;
    transform: translate(64px, 155px) rotate(180deg);
}

.dynamic-people {
    display: flex;
    position: relative;
    width: 90%;
    align-items: flex-end;
    justify-content: center
}

.person {
    /*margin-left: 70%;
    margin-right: 70%;*/
}

#p1 {
    width: 13%;
    z-index: -1;
    transform: translate(26%, 0);
}

#p2 {
    width: 14%;
    z-index: -2;
    transform: translate(19%, 0);
}

#p3 {
    width: 14%;
    z-index: -3;
    transform: translate(9%, 0);
}

#p4 {
    width: 13%;
    transform: translate(5%, 0);
}

#p5 {
    width: 12%;
    z-index: -2;
    transform: translate(-5%, 0);
}

#p6 {
    width: 12%;
    transform: translate(-18%, 0);
}

#p7 {
    width: 13%;
    z-index: 0;
    transform: translate(-21%, 0);
}

#p8 {
    width: 15%;
    transform: translate(-32%, 0);
}

/* --- Non-Tiled Section --- */

.more-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    color: rgba(37, 37, 37, 0.63);
    padding: 40px 5% 70px;
}

.faq-header {
    text-transform: uppercase;
    text-align: center;
    padding: 20px 0;
    font-weight: 300;
    font-size: 26px;
}

.faq-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 15px;
}

.faq-item {
    width: 30%;
    margin: 10px 1.66% 10px;
    transition: all 0.2s;
}

.yellow-text .faq-item a {
    color: #e8b92b;
}

.mustard-text .faq-item a {
    color: #c09b2e;
}

.orange-text .faq-item a {
    color: #ed9a48;
}

.orange-red-text .faq-item a {
    color: #ef7a54;
}

.red-text .faq-item a {
    color: #f16768;
}

.faq-item .question {
    font-size: 14pt;
}

.faq-item .question:hover {
    cursor: pointer;
    color: #807f7e;
}

.faq-item .question:before {
    font-family: FontAwesome;
    content: "\f055";
    font-size: 12pt;
    padding-right: 5px;
}

.faq-item .question.open:before {
    content: "\f056";
}

.faq-item .answer {
    display: none;
    font-family: 'Ubuntu', sans-serif;
    color: rgba(37, 37, 37, 0.63);
    font-size: 12pt;
    padding-left: calc(14pt + 5px);
}

.big-tile {
    padding: 30px;
    margin-bottom: 10px;

    align-self: stretch;
    display:flex;
    flex-direction:column;
    justify-content: center;
}

.quote {
    font-size: 14pt;
    margin: 0;
    padding: 0;
    color: white;
    width: 100%;
    font-weight: 300;
}

.quote:before, .quote:after {
    color: white;
    content: '"';
    font-size: 14pt;
}

.source {
    color: white;
    font-size: 14pt;
    text-align: right;
    margin: 10px 0 0 0;
    padding: 0;
    font-weight: 400;
}

.sponsors-image {
    max-width: 100%;
    max-height: 300px;
}

.logo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    padding: 40px;
    text-align: center;
}

.logo-container .logo-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
}

.logo-row div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.logo-row.small div {
    width: 20%;
    min-width: 140px;
    height: 80px;
}
.logo-row.small a {
    max-width: 130px;
}
.logo-row.small img {
    max-height: 80px;
    max-width: 130px;
}

.logo-row.medium div {
    width: 33%;
    min-width: 230px;
    height: 150px;
}
.logo-row.medium a {
    max-width: 220px;
}
.logo-row.medium img {
    max-height: 150px;
    max-width: 220px;
}

.logo-row.large div {
    width: 50%;
    min-width: 360px;
    height: 225px;
}
.logo-row.large a {
    max-width: 350px;
}
.logo-row.large img {
    max-height: 225px;
    max-width: 350px;
}

.logo-row.premium div {
    width: 100%;
    min-width: 700px;
    height: 300px;
}
.logo-row.premium a {
    max-width: 700px;
}
.logo-row.premium img {
    max-height: 300px;
    max-width: 700px;
}

.basic-info h1 {
    /* Style as h2 */
    font-family: 'Ubuntu', sans-serif;
    font-size: 14pt;
    font-weight: bolder;
    color: #66686a;
    padding: 0;
    margin-top: 0;
    transition: 0.2s;
}

.basic-info {
    visibility: visible;
    transition: all 0.2s;
}

.extra-info {
    display: none;
    visibility: hidden;
    transition: all 0.2s;
}

.grid-item-expand h2 {
    color: #0093B1;
    padding: 15px 0 0 0;
}


.clickable-icon {
    transition: background-color 0.2s;
}

.grid-item:hover .clickable-icon {
    background-color: #FFE641;
    transition: background-color 0.2s;
}

.flavor-image {
    max-width: 100%;
    min-height: 100%;
    background-color: white;
}

.tile-image {
    margin: 0;
    max-height: 70%;
    max-width: 70%;
    opacity: 0.6;
}

.partner-logo {
    max-height: 80px;
    max-width:100%;
}

/* --- FAQ Tile Content --- */

.faq-container {
    width: 92%;
    margin: 0 auto;
}

li.question {
    list-style-type: none;
    font-style: italic;
    margin-bottom: 5px;
}

li.answer {
    list-style-type: none;
    margin-bottom: 10px;
    margin-left: 2em;
}

.footer-bar {
    height: 180px;
    width: 100%;
    padding-bottom: 20px;
    color: white;
    font-size: 10pt;
    text-align:center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-left{
    height: 100%;
    width: 100px;
    margin-left: 50px;
}

#footer-flag {
    height: 150px;
    margin-bottom: 5px;
}

.footer-middle{
    height: 100%;
    min-width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.contact *{
    margin: 0 5px;
    color: white;
}

.contact *:hover{
    color: #4a4948;
    text-decoration: none;
}

.footer-middle p {
    margin: 0;
}

.footer-right{
    height: 100%;
    width: 100px;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-right p {
    margin: 0;
    font-size: 14pt;
}

/* --- @media Queries --- */

@media only screen and (max-width: 1140px) {
    .faq-item {
        width: 45%;
    }
}

@media only screen and (max-width: 720px) {
    #headerButtons {
        display:none;
    }

    #headerDropdown {
        display: block;
    }

    #eventInfo {
        left: 25px;
        transition: left 0.4s;
    }

    #eventInfo h2 {
        font-size: 12pt;
    }

    #eventInfo p {
        font-size: 10pt;
    }

    .flex-row {
        flex-direction: column;
    }

    .faq-row {
        margin: 0 0 10px 0;
        flex-direction: column;
    }

    .col-2, .col-2-bigL, .col-2-smallR{
        width: 100%;
    }

    .col-3 {
        width: 100%;
    }

    .logo-container .logo-row {
        flex-direction: column;
    }

    .logo-row div {
        width: 100% !important;
        min-width: 0 !important;
    }
    .logo-row img {
        max-width: 100% !important;
    }

    .quotes .quote-column {
        width: 100%;
    }

    .more-info .quotes {
        flex-direction: column;
    }

    .faq-item {
        width: 95%;
        margin-right: 0;
    }
}

@media only screen and (max-width: 550px){
    #eventInfo {
        width: 140px;
    }
}

@media only screen and (max-width: 350px) {
    #eventInfo h2 {
        font-size: 10pt;
    }

    #eventInfo p {
        font-size: 8pt;
    }
}

/* --- Application Stylings --- */

.logo{
    margin: 0px auto;
    display: block;
}

.container_apply {
    width: 50%;
    margin-top: 50px;
    -webkit-box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    -moz-box-shadow:0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    margin-left: auto;
    margin-right: auto;
    border: 1px solid  rgba(0,0,0,0.33);
}

.full{
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 15px;
}


/* Inputs  */

html input[type="number"]{
    box-sizing: border-box;
    text-align: center;
    font-size: 18px;
    padding-right: 8px;
}

html input[type="text"],
html input[type="tel"],

html input[type="number"],
html input[type="url"],
html input[type="email"],
html input[type="password"],
html input[type="school"],
html input{
    box-shadow: none;
    opacity: 0.7;
    border-width: 0 0 1px 0;
    border-radius: 0;
    -webkit-transition: .4s;
    transition: .4s;
    padding: 0px;
    outline: none;
}

html input[type="text"]:hover,
html input[type="tel"]:hover,

html input[type="number"]:hover,
html input[type="url"]:hover,
html input[type="email"]:hover,
html input[type="password"]:hover,
html input[type="school"]:hover,
html input:hover {
    border-color: #1865AE; /* UPDATE COLOR */
}

html input[type="text"]:active,
html input[type="text"]:focus,
html input[type="tel"]:active,
html input[type="tel"]:focus,
html input[type="number"]:active,
html input[type="number"]:focus,
html input[type="url"]:active,
html input[type="url"]:focus,
html input[type="email"]:active,
html input[type="email"]:focus,
html input[type="password"]:active,
html input[type="password"]:focus,
html input[type="school"]:active,
html input[type="school"]:focus,
html input:active,
html input:focus {
    box-shadow:none !important;
    border-color: #1CA5AA; /* UPDATE COLOR */
    border-width: 0 0 1px 0;
    border-radius: 0;
    opacity: 1;

}

html input[type="radio"],
html input[type="checkbox"] {
}

html button {
    font-family: 'Ubuntu', sans-serif;

    color: #33c5f4;
    border-radius: 0;
    -webkit-transition: .4s;
    transition: .4s;
    font-size:  16px;
}


/* Rows */

.row {
    margin-top: 12px;
}

.row.two {
    margin-top: 32px;
}

.row.three {
    margin-top: 48px;
}

.row.four {
    margin-top: 64px;
}

.row.five {
    margin-top: 80px;
}

.row.none{
    margin-top: 0;
}

.drop-down-button{
   box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
     margin-left: auto;
    margin-right: auto;
    border: 1px solid  rgba(0,0,0,0.33);
    border-radius: 0;
    background-color: #fff;
}

.full_width{
    width: 100%;
}

html fieldset {
    border: 0;
    margin: 0;
    padding: 0;
    overflow-x:hidden;
}
.text-center {
    text-align: center;
}

.dashboard-registration button {
    font-size: 16px;
    font-weight: bolder;

    padding: 10px 20px;
    width: 120px;
    margin: 2px 0 2px 20px;

    box-shadow: none;

    color: #e8b92b;

    background-color: white;
    border-radius: 5px;
    border: 2px solid #e8b92b;

    text-decoration: none;
    transition: all 0.2s;
    line-height: inherit;
}

.dashboard-registration button:hover {
    background-color: #e8b92b;
    color: white;
    cursor: pointer;
    transition: all 0.2s;
}

.dashboard-registration .row-container {
    margin-top: 40px;
}

.row-container {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-header {
    text-align: center;
    padding: 40px 0;
    font-size: 26px;
    margin: 0;
}

.bubble {
    border-radius: 20px;
}

.bubble p {
    width: 100%;
}
