@font-face {
    font-family: Avenir Next;
    src: url(/static/fonts/AvenirNext-Regular.ttf);
}

body {
    overflow: hidden;
    background-color: black;
}

h1, h3 {
    font-family: Avenir Next;
    font-weight: 400;
    margin: 0 auto 0 auto;
}

h1 {
    font-size: 10vmax;
}

h3 {
    color: #c7c7c7;
    font-size: 3vmax;
}

.background {
    background-size: cover;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    background-image: url(/static/assets/mcorp_medium.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100vmin;
}

.background-title {
    align-self: center;
    color: white;
    font-weight: 400;
    text-align: center;
    width: 100%;
}

p {
    font-family: Avenir Next;
    text-align: center;
    color: #c7c7c7;
    margin: 0;
}

body {
    background-color: black;
}

#changeOnSubmission {
    margin-top: 1vmax;
    font-size: 2vmax;
}

#email {
    text-align: center;
    padding: 0;
    display: flex;
    width: 500px;
    max-width: 80%;
    margin: 10px auto 10px auto;
    color: black;
}

#email input {
    outline: none;
    box-shadow: none;
    border: 0;
    flex: 1;
    padding-left: 10px;
    background-color: #c7c7c7;
    -webkit-appearance: none;
    border-radius: 0px;
}

#email input:focus {
    color: black;
    background-color: white;
}

input::-webkit-input-placeholder {
    color: #222222 !important;
}

#SubmitButton {
    background-color: #c7c7c7;
    border-radius: 0 !important;
}

#SubmitButton:hover {
    background-color: white;
}

#bottom {
    position: absolute;
    bottom: 30px;
    text-align: center;
    color: #c7c7c7;
    width: 100vw;
    font-size: 3vmin;
}
.footer-link a {
    width: 30%;
    color: #c7c7c7;
    text-decoration: underline;
}
#left {
    float: left;
    margin-left: 5%;
}

#right {
    float: right;
    margin-right: 5%
}

.footer-link a:hover {
    color: #c7c7c7;
    opacity: 0.7;
    text-decoration: underline
}

#email form {
    display: inherit;
    width: 500px;
    margin: auto;
}
