#main-message {
    text-align: center;
}

#bus-routes-img {
    max-height: 60%;
    max-width: 100%;
    border: 1px dashed #337ab7;
}

.body-info {
    color: rgb(37, 37, 37);
}

.body-info h2 {
    color: black;
}

.body-info h3 {
    color: black;
}

.rounded-box {
    padding: 3px;
    border-radius: 5px 5px 5px 5px;
}

.accept {
    background-color: lawngreen;
}

.waitlist {
    background-color: yellow;
}

.decline {
    background-color: dimgray;
    color: white;
}

.fake-link {
    color: #337ab7;
    cursor: pointer;
}

.fake-link:hover {
    text-decoration: underline;
}

.qr-code {
    display: block;
    margin: 30px auto 30px auto;
    width: 200px;
}
.apple-wallet {
    margin-bottom: 20px;
    width: 150px;
}
