/*
THIS FILE IS GOING TO BE USED ACROSS ALL FORMS ON MHACKS.
PLEASE KEEP THIS AS GENERAL AS POSSIBLE. IF YOU WANT TO 
ADD STYLING TO ONE FORM, PLEASE MAKE A NEW CSS FILE, AND ONLY
INCLUDE THAT FILE ON YOUR SPECIFIC PAGE. THANK YOU.
*/

body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #ffffff;
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
    font-size: 12pt;
}
button {
    cursor: pointer;
}
ul {
    list-style-type: none;
}

p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 12pt;
    font-weight: 200;
    width: 100%;
}

.header-form {
    position: static;
}

.title-form h3 {
    color: rgba(0, 169, 194, 1);
    font-size: 35px;
    margin-bottom: 0;
}

.body-form {
    margin-top: 30px;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}
.container-form {
    width: 66%;
    margin: 40px auto 40px auto;
    -webkit-box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    -moz-box-shadow:0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border: 1px solid  rgba(0,0,0,0.33);
    padding-bottom: 30px;
    color: #333;
}

.logo {
    display: block;
    width: 70%;
}

/* INPUTS */

html input {
    border-bottom-color: #9b9b9b;
}
html input:focus {
    outline: none;
}
html input[type="textarea"] {
    resize: vertical;
}

html input[type="number"] {
    box-sizing: border-box;
    text-align: center;
    font-size: 18px;
    padding-right: 8px;
}
html input[type="text"],
html input[type="number"] {
    max-height: 35px;
}

html input[type="text"],
html input[type="tel"],

html input[type="number"],
html input[type="url"],
html input[type="email"],
html input[type="password"],
html input[type="school"],
html input {
    box-shadow: none;
    opacity: 0.7;
    border-width: 0 0 1px 0;
    border-radius: 0;
    -webkit-transition: .4s;
    transition: .4s;
    padding: 0;
    margin-left: 20px;
}

html input[type="text"]:hover,
html input[type="tel"]:hover,

html input[type="number"]:hover,
html input[type="url"]:hover,
html input[type="email"]:hover,
html input[type="password"]:hover,
html input[type="school"]:hover,
html input:hover {
    border-color: #1865AE; /* UPDATE COLOR */
}

html input[type="text"]:active,
html input[type="text"]:focus,
html input[type="tel"]:active,
html input[type="tel"]:focus,
html input[type="number"]:active,
html input[type="number"]:focus,
html input[type="url"]:active,
html input[type="url"]:focus,
html input[type="email"]:active,
html input[type="email"]:focus,
html input[type="password"]:active,
html input[type="password"]:focus,
html input[type="school"]:active,
html input[type="school"]:focus,
html input:active,
html input:focus {
    box-shadow:none !important;
    border-color: #1CA5AA; /* UPDATE COLOR */
    border-width: 0 0 1px 0;
    border-radius: 0;
    opacity: 1;
}

html input[type="radio"],
html button {
    background: rgba(0, 169, 194, 1);
    box-shadow: 0 3px 6px rgba(0,0,0,0.23), 0 3px 6px rgba(0,0,0,0.15);
    border-radius: 5px;
    -webkit-transition: .4s;
    transition: .4s;
    font-size: 14px;
    color: white;
    border: 0;
    padding: 10px 25px 10px 25px;
}

/* Rows */

.row {
    margin-top: 12px;
}

.row.two {
    margin-top: 32px;
}

.row.three {
    margin-top: 30px;
}

.row.four {
    margin-top: 64px;
}

.row.five {
    margin-top: 80px;
}

.row.none {
    margin-top: 0;
}

.submit-row {
    margin-top: 35px;
    text-align: center;
}

.drop-down-button{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    margin-left: auto;
    margin-right: auto;
    border: 1px solid  rgba(0,0,0,0.33);
    border-radius: 0;
    background-color: #fff;
}

.form-label {
    font-weight: 200;
    font-size: 15px;
    margin-right: 7px;
    width: 30%;
    float: left;
    text-align: right;
}

.form-field {
    margin: 0 5px 10px 5px;
    display: flex;
}

.form-field input {
    font-size: 15px;
    display: inline-flex;
    width: 40%;
}

@media (max-width: 800px) {
    .container-form {
        width: 95%;
    }
}

.error {
    display: flex;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
    font-size: 12px;
}

.form-full {
    margin: 0 5px 10px 5px;
    display: inline;
    text-align: center;
    width: 100%;
}

.form-full label {
    text-align: center;
    width: 100%;
}

.form-full input {
    font-size: 15px;
    float: none;
    text-align: center;
}

.full {
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 15px;
}

.full-widget {
    margin: auto;
    text-align: center;
}

.checkbox-style {
    color:#000;
    opacity:.7;
}

.check-width {
    width: 40%;
}

.file-upload {
    padding-left: 20px;
}