p {
    margin: 15px auto 25px;
}

h3 {
    font-weight: bolder;
    margin: 0 0 8px 0;
}

@media only screen and (max-width: 1140px) {
    .faq-item {
        width: 45%;
        margin-right: 4%;
    }
}

.centered-image-container {
    margin: 0 auto;
    width: 210px;
    height: 210px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.centered-image-container img {
    max-width: 100%;
    max-height: 100%;
}

.info-section{
    background-color: #eef1f3;
    padding-bottom: 50px;
}

.event-info-section p {

}

.categories-section {

}

.categories-header {
    text-transform: uppercase;
    text-align: center;
    padding: 100px 0;
    font-weight: 300;
    font-size: 26px;
}

.category-row:last-child {
    padding-bottom: 60px;
}

.category-item {
    text-align: center;
}

.category-item h4 {
    margin: 20px 0;
}

.category-item p {
    font-size: 20px;
    max-width: 60%;
}

@media only screen and (max-width: 720px) {
    .categories-header {
        padding-bottom: 40px;
    }

    .category-row:last-child {
        padding-top: 0;
        padding-bottom: 40px;
    }

    .category-item h4 {
        margin-top: 30px;
    }

    .category-item p {
        margin-bottom: 40px;
    }

    .centered-image-container {
        width: auto;
        max-width: 210px;
        max-height: 210px;
        display: inline-block;
    }
}

.sponsorship-content {
    width: 80%;
    text-align: center;
    margin-bottom: 50px;
}
