/*
Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
1. Reference
2. Fonts
3. Elements
5. Utility classes
6.
*/


/* 1. Reference
––––––––––––––––––––––––––––––––––––––––––––––––––

-- Colors --
Black = #111
Charcoal = #554
White = #fff
Off White = #f3f3f3
Yellow = #FFE641
Orange = #FEC111
Orange tint = #FFD44E
Orange shade = #F78F1E


*/

/* 2. Fonts
––––––––––––––––––––––––––––––––––––––––––––––––––
*/

@font-face {
    font-family: Apercu;
    src: url(/static/fonts/apercu.otf) format("opentype");
}

@font-face {
    font-family: AvenirMedium;
    src: url(/static/fonts/AvenirNext-Medium.ttf);
}

@font-face {
    font-family: AvenirRegular;
    src: url(/static/fonts/AvenirNext-Regular.ttf);
}


/* 3. Elements
––––––––––––––––––––––––––––––––––––––––––––––––––
*/


* {
	font-family:AvenirRegular, "Calibri", sans-serif;
}

html,
body,
html fieldset {
	border: 0;
	margin: 0;
	padding: 0;
	overflow-x:hidden;
	height: 100vh;
}
legend {
	text-align: center;
	font-size: 60px;
	color: #FFFFFF;
	font-family: AvenirLight, "Calibri", sans-serif;
	z-index: 1;
}

legend.container svg {
	height: 50px;
}

h3 {
	margin-left: 0;
	font-size: 40px;
	color: #FCC93E;
	margin-bottom: 20px;
	margin-top: 20px;
}


html h4 {
		font-size: 18px;
	}

html p {
	font-size: 12px;
	margin-top:0;
}

@media (min-width: 750px) {
	html h4 {
		font-size: 16px;
	}

	html p {
		font-size: 14px;
		margin-top:0;
	}
}

@media (min-width: 1000px) {
	html h4 {
		font-size: 20px;
	}

	html p {
		font-size: 16px;
		margin-top:0;
	}
}

@media (min-width: 1200px) {
	html h4 {
		font-size: 22px;
	}

	html p {
		font-size: 18px;
		margin-top:0;
	}
}


span{
	margin-left:-8vmin;
	font-family: AvenirRegular, "Calibri", sans-serif;
}

html input[type="number"]{
	box-sizing: border-box;
	text-align: center;
	font-size: 18px;
	padding-right: 8px;
}

html input[type="text"],
html input[type="tel"],

html input[type="number"],
html input[type="url"],
html input[type="email"],
html input[type="password"],
html input[type="school"],
html input{
	box-shadow: none;
	border-color: #000;
	border-width: 0 0 2px 0;
	border-radius: 0;
	-webkit-transition: .4s;
	transition: .4s;
}

html input[type="text"]:hover,
html input[type="tel"]:hover,

html input[type="number"]:hover,
html input[type="url"]:hover,
html input[type="email"]:hover,
html input[type="password"]:hover,
html input[type="school"]:hover,
html input:hover {
	border-color: #FEC111;
}

html input[type="text"]:active,
html input[type="text"]:focus,
html input[type="tel"]:active,
html input[type="tel"]:focus,
html input[type="number"]:active,
html input[type="number"]:focus,
html input[type="url"]:active,
html input[type="url"]:focus,
html input[type="email"]:active,
html input[type="email"]:focus,
html input[type="password"]:active,
html input[type="password"]:focus,
html input[type="school"]:active,
html input[type="school"]:focus,
html input:active,
html input:focus {
	box-shadow:none !important;
	border-color: #FFE641;
	border-width: 0 0 2px 0;
	border-radius: 0;
}

html input[type="radio"],
html input[type="checkbox"] {
	display: none ;
}

html button {
	color: #000000;
	background-color: #FFE641;
	border:none;
	border-radius: 0;
	-webkit-transition: .4s;
	transition: .4s;
    font-size:  16px;
}

html button:hover {
	color: #fff;
	text-shadow: 0 0 0 #554;
	background-color: #000;
}

html select {
	border: 2px solid #000;
}

html select:active,
html select:focus {
	border: 2px solid #FFE641;
}

html textarea {
	border: 2px solid #000;
	min-height: 124px;
}

html textarea:active,
html textarea:focus {
	border: 2px solid #FFE641;
}

/* 4. Element styles
––––––––––––––––––––––––––––––––––––––––––––––––––
*/

.radio-button,
.checkbox {
	box-sizing: border-box;
	padding: 6px 0;
	border: 4px solid #FFF;
	border-radius: 0;
	text-align: center;
	background-color: #FFF;
	color: #170F49;
	box-shadow: inset 0 0 0 2px #170F49;
	-webkit-transition: .4s;
	transition: .4s;
}

.radio-button:hover,
.checkbox:hover {
	box-shadow: inset 0 0 0 2px #FEC111;
	color: #FEC111;
}

.radio-button.active,
.checkbox.active {
	background-color: #FFE641;
	border-color: #FFE641;
	color: #000000;
	box-shadow: inset 0 0 0 2px #fff;
}


html .head {
	text-align: center;
	margin-bottom: -16px;

}

.head span {
	position: relative;
	z-index: 2;
	display: inline-block;
	padding: 4px 24px;
	margin: 0 16px;
	font-size: 36px;
	color: #FFF;
	background-color: #000;
	border-color: #FFF;
	border-style: solid;
	border-width: 0 32px;
}

.head::before{
	content: "";
	position: relative;
	z-index: 1;
	display: block;
	margin: auto;
	margin-bottom: -38px;
	width: 100%;
 	max-width: 960px;
	height: 16px;
	border-top: 2px solid #E0E0E0;
	border-bottom: 2px solid #E0E0E0;

}

.section.container {
		padding: 64px 0 128px 0;
}

@media (min-width: 550px){

}


@media (min-width: 750px) {
	.section.container {
		padding: 64px 24px 128px 24px;
		border-color: #E0E0E0;
		border-style: solid;
		border-width: 0 2px;
	}
}


@media (min-width: 1200px) {
	.section.container {
		padding: 64px 48px 128px 48px;
	}
}

.row {
	margin-top: 12px;
}

.row.two {
	margin-top: 32px;
}

.row.three {
	margin-top: 48px;
}

.row.four {
	margin-top: 64px;
}

.row.five {
	margin-top: 80px;
}


/* 5. Utility classes
––––––––––––––––––––––––––––––––––––––––––––––––––
*/

.hidden {
	display: none;
}




/* 6. Specific
––––––––––––––––––––––––––––––––––––––––––––––––––
*/

.header {
	width: 100%;
	margin-bottom: 128px;
	text-align: center;
	background-color: #FFE641;
}

.header h1{
	font-size: 8rem;
	text-shadow: 0 0 3px #554;
}

.first.head {

}

.first.head::before {
	content: "";
	position: relative;
	z-index: 1;
	display: block;
	margin: auto;
	margin-bottom: -54px;
	width: 100%;
 	max-width: 960px;
	border-top: 2px solid #E0E0E0;
	border-bottom: 0;
}

@media (min-width: 1000px) {
	.flexLine {
		display:-webkit-box;
		display:-webkit-flex;
		display:-ms-flexbox;
		display:flex;
	}

	.flexLine input,
	.flexLine select {
		-webkit-box-flex: 1;
		    -ms-flex: 1;
		        flex: 1;
 		-webkit-flex: 1;
	}

	.flexLine *:first-child {
	margin-left: 0;
	}

	.flexLine * {
		margin-left: 16px;
	}
}


.final.container button {
	position: relative;
	z-index: 2;
	border-style: solid;
	border-color: #FFF;
	border-width: 0 16px;
}


.final.container::before {
	content: "";
	position: relative;
	z-index: 1;
	display: block;
	margin: auto;
	margin-bottom: -18px;
	width: 100%;
 	max-width: 960px;
	border-top: 2px solid #E0E0E0;
}


#tab {
	padding-left:400px;
}
#gray {
	font-size: 14px;
	color:rgb(202, 202, 202);
}

.arrow {
  float: left;
  height: 60px;
  width: 60px;
  margin-top: 12px;
}
.home{
	float:left;
	width:50px;
	background-color: white;
	margin-left:-15px;
	margin-top: 12px;
	border-radius:15px;
	padding-left:5px;
	padding-right: 5px;
	display: none;

}

#myMLH-container {
	width: 100%;
	text-align: center;
}

#highschoolstudent, #travelingfromschool{
	margin-left:15px;
	margin-top:10px;
}

.help-block{
	font-family:AvenirLight, "Calibri", sans-serif;
	margin-left: 0;
}
#month{
    width: 60%;
    display: inline-block;
}
#year{
	width: 39%;
    display: inline-block;
    float:right;
}
.friend_name{
    width: 40%;
    display: inline-block;
}
.friend_email{
	width: 59%;
    display: inline-block;
    float:right;
}
.logout{
	font-size: 20px;
	float:right;
	height: 85px;
	width: 85px;
	/*background-color: rgb(248, 171, 6);*/
	padding-top: 30px;
    margin-right: 15px;
	color: white;
}
.logout:hover{
	background-color:#FCC93E;
	text-decoration:none;
}

.application-status {
    text-align: center;
    margin-top: -15px;
}

.horizontal-center {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
}
.vertical-center {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: column;
	-ms-flex-flow: column;
	flex-flow: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
	-ms-flex-pack: center;
    justify-content: center;
}

.login-container {
    height: 100vh;
    max-height: calc(100vh - 106px);
    width: 100%;
}

#update-submit {
    margin-top: 10px;
}

.birthday input {
    width: 31%;
    display: inline-block;
    float: left;
    margin: 0 5px 0 0;
}

/* Hide file input for beauty*/
#resume_picker {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

#resume_label {
    color: #000000;
    background-color: #ffe641;
    border: none;
    border-radius: 0;
    text-align: center;
    cursor: pointer;
    -webkit-transition: .4s;
    transition: .4s;
}
#resume_label:hover {
    color: #fff;
	text-shadow: 0 0 0 #554;
	background-color: #000;
}

#mhacks-text{
    font-family: Apercu;
    font-size: 54pt;
    color: #FFF;
    text-shadow: 0 2px 4px rgba(0, 0, 0, .25);
    margin-bottom: 0;
}
#refactor{
    font-size: 20pt;
    letter-spacing: 16px;
    text-shadow: 0 2px 4px rgba(0, 0, 0, .4);
    font-size: 0.33em;
    color: #000;
}

#livepageLogo{
  position:absolute;
  height:100%;
  width:100%;
  padding: 10px;
  z-index:-999;
}
#navBar{
  /*border-top:5px solid black;
  border-bottom:5px solid black;*/
  display:flex;
  align-items:center;
  justify-content:center;
  min-width:100%;
}

.navItem{
  border-left:5px solid black;
  border-top:5px solid black;
  border-bottom:5px solid black;
  transition:flex-grow 0.3s ease-in-out;
  height:3.5em;
  flex:1;
  display:flex;
  flex-direction:column;
  justify-content:center;
  transition:all 0.3s;
  text-decoration: none;
  color: black;
  cursor:pointer;
}
.navItem p{
  margin:0;
  font-size:1em;
  transition:all 0.3s;
}

.navItem:hover{
  flex-grow:1.5;
  background-color:#FEC111;
  transition:all 0.3s ease-in-out;
  text-decoration:none;
}
.navItem:hover p{
  color:white;
}
#barEnd{
  height:3.5em;
  width:5px;
  background-color:black;
}

.content-container{
  display:flex;
  flex-direction:column;
  padding: 20px;
}

.content-container p{
  margin-bottom:0;
}

.content-item{
  display:flex;
  flex-direction:column;
  align-items: center;
  max-height: 3em;
  width:100%;
  transition: max-height 0.5s ease-out;
  overflow:hidden;

  margin-bottom: 20px;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, .25);
  border: #554 1px solid;
}

.content-subitem{
  display:flex;
  flex-direction:column;
  align-items: center;
  max-height: 2.5em;
  width:95%;
  transition: max-height 0.5s ease-out;
  overflow:hidden;

  margin-bottom: 10px;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, .25);
  border: #554 1px solid;
}

.content-header{
  width: 100%;
  cursor: pointer;
  background-color: #f3f3f3;
  transition: all 0.2s;
}
.content-header:hover{
  background-color: #FFD44E;
  transition: all 0.2s;
}

.content-header * {
  margin-bottom: 0;
  margin-left: 10px;
  color:black;
}

.content-subheader{
  width: 100%;
  cursor: pointer;
  background-color: #f3f3f3;
  transition: all 0.2s;
}

.content-subheader:hover{
  background-color: #FFD44E;
  transition: all 0.2s;
}

.content-subheader * {
  margin-bottom: 0;
  margin-left: 10px;
  color:black;
}

.content-details{
  width:100%;
  padding:25px 25px 0 25px;
}

.content-details:last-child{
  margin-bottom:25px;
}

.content-columns {
  display:flex;
  justify-content: space-between;
  min-height:100%;
}
.content-column{
  display:flex;
  flex-direction:column;
}

.clock span{
  margin-left:0;
  font-size:20px;
}
.flip-clock-divider .flip-clock-label{
  top:5em;
}

h3.content-section-title{
  margin-bottom:0;
}

.two {
  width:50%;
}

.open{
  max-height: 200vh;
  transition: max-height 0.5s ease-in;
}

.food{
  background-color: lightgreen;
}
.social{
  background-color: plum;
}
.learn{
  background-color: salmon;
}
.logistics{
  background-color: lightblue;
}

#mHacks-standard-logo {
	fill: #FEC111;
}
#headerLogo{
    height: 50px;
    margin: 20px 0;
}
#logout{
    position: absolute;
    top: 30px;
    right: 0;
    z-index: 999;
    background-color:#FEC111;
}
#logout:hover{
    background-color:#000;
}

#birthDay, #birthMonth, #birthYear {
    min-width: 0;
}

#password_message {
	display: none;
	margin-left: 10px;
}

.left-side {
	margin-left: 0;
}

.bus-route {
	background-color: #803f00;
	color:white;
}

.warning {
	color: red;
	display: none;
}

.input_word {
	display: inline-block;
}



#skills{

   -webkit-transition: border-color .5s ease-in-out  ;
   -moz-transition:    border-color .5s ease-in-out  ;
   -ms-transition:     border-color .5s ease-in-out ;
   transition:         border-color .5s ease-in-out ;

}
.canDelete {
}

@media(max-width:550px){
  .content-item{
    max-height: 2.5em;
  }
  .content-subitem{
    max-height: 1.9em;
  }
  .open{
    max-height: 200vh;
    transition: max-height 0.5s ease-in;
  }
}
@media(max-width:750px){
	.arrow {
 		 margin: 0;
 		 height: 12vmin;
  		width: 10vmin;
	}
	span{
		margin-left:1vmin;
	}
	legend{
		font-size:7.5vmin;
		font-family: AvenirHeavy, "Calibri", sans-serif;

	}
    .login-container{
        max-height: calc(100vh - 7.5vmin - 21px);
    }
	h3{
		font-size:7vmin;
	}
	p {
		color:darkgray;
	}
	.logout{
		margin-top:vmin;
		height:10.5vmin;
		width:10.5vmin;
		padding-top:3.5vmin;
		font-size:14px;
	}

  #refactor{
    letter-spacing: 10px;
  }

  #navBar{
    flex-direction:column;
  }
  .navItem{
    height:auto;
    width:100%;
    border-left:0;
    border-bottom:0;
  }
  .navItem p{
    color:black;
  }
  #barEnd{
    height:5px;
    width:100%;
    background-color:black;
  }
  .content-container p{
    color:black;
  }

}

footer {
	width: 100%;
	background: #444;
	position: relative;
	overflow: auto;
	padding-bottom: 15px;
}

footer #mlh-trust-badge {
	float: right;
	margin-right: 5%;
}

footer p {
	float: left;
	padding: 20px 0 20px 0;
	color: #fff;
    margin-bottom: 0;
}

footer p a {
	color: #fff;
}
