<div class="content-box announcements">
    <div class="content-header col-2-flex">
        <h1>Announcements</h1>
        <div class="right-header-group">
            <i id="refreshAnnouncements" class="fa fa-refresh fa-2x fa-fw" aria-hidden="true"></i>
        </div>
    </div>
    <div class="announcements-legend">
        <h2>Categories:</h2>
        <div class="announcements-categories">
            <h2 class="category-0">Emergency</h2>
            <h2 class="category-1">Logistics</h2>
            <h2 class="category-2">Food</h2>
            <h2 class="category-3">Events</h2>
        </div>
    </div>
    <div class="announcements-container">
    </div>
</div>
<script src="{{ static('javascript/announcements.js') }}" type="text/javascript"></script>
