{% extends 'base.html' %}

{% block headers %}
    <link rel="stylesheet" media="all" href="{{ static('stylesheets/application_view.css') }}">
    {% block form_headers %}
    {% endblock %}
{% endblock %}

{% block content %}

    {% include 'header.html' %}
    {% if results %}
        <h2 style="color: black; padding: 10px">There are {{ results | length }} Matches found. Click <a href="{{ url_for('mhacks-applicationSearch') }}">here</a> to run another search</h2>

        <form method="POST" action="{{ url_for('mhacks-updateApplication') }}">
            {{ csrf_input }}
            <input id="update-all-button" type="submit" value="Update all">
            <input type="hidden" name="application_type" value="hacker">


            <table class="table table-striped" style="color:black; overflow-x:scroll; column-width: fit-content">
                <thead>
                <tr>
                    <th>Score</th>
                    <th>Decision</th>
                    <th>Reimbursement</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Submitted</th>
                    <th>Last updated</th>
                    <th>Tell us about a project that you worked on and why you're proud of it.</th>
                    <th>What do you hope to take away from MHacks 8?</th>
                    <th>Anything else?</th>
                    <th>Hackathons attended</th>
                    <th>International</th>
                    <th>School</th>
                    <th>Major</th>
                    <th>Graduation date</th>
                    <th>Birthday</th>
                    <th>Gender</th>
                    <th>Race</th>
                    <th>GitHub</th>
                    <th>Devpost</th>
                    <th>Personal Website</th>
                    <th>Resume</th>
                    <th>Interests</th>
                    <th>Needs reimbursement</th>
                    <th>Can pay</th>
                    <th>City</th>
                    <th>State/Country</th>
                    <th>Mentor</th>
                </tr>
                </thead>

                <tbody>
                {% for result in results | sort(attribute='user.first_name') %}
                    <tr>
                        <input type="hidden" name="id[]" value="{{ result.id }}">
                        <td class="col-md-1">
                            <input type="text" name="score[]" value="{{ result.score }}">
                        </td>
                        <td class="col-md-1">
                            <select type="text" name="decision[]">
                                <option value="Decline" {% if result.decision == 'Decline' %} selected {% endif %}>Decline</option>
                                <option value="Accept" {% if result.decision == 'Accept' %} selected {% endif %}>Accept</option>
                                <option value="Waitlist" {% if result.decision == 'Waitlist' %} selected {% endif %}>Waitlist</option>
                            </select>
                        </td>
                        <td class="col-md-1">
                            <input type="number" name="reimbursement[]" value="{{ result.reimbursement }}">
                        </td>
                        <td>{{result.user.first_name}} {{result.user.last_name}}</td>
                        <td>{{result.user.email}}</td>
                        <td>{{result.submitted}}</td>
                        <td>{{result.last_updated.strftime('%Y-%m-%d %H:%M')}}</td>
                        <td>{{result.passionate}}</td>
                        <td>{{result.coolest_thing}}</td>
                        <td>{{result.other_info}}</td>
                        <td>{{result.num_hackathons}}</td>
                        <td>{{result.is_international}}</td>
                        <td>{{result.school}}</td>
                        <td>{{result.major}}</td>
                        <td>{{result.grad_date}}</td>
                        <td>{{result.birthday}}</td>
                        <td>{{result.gender}}</td>
                        <td>{{result.race}}</td>
                        <td><a href="{{result.github}}">{{result.github}}</a></td>
                        <td><a href="{{result.devpost}}">{{result.devpost}}</a></td>
                        <td><a href="{{result.personal_website}}">{{result.personal_website}}</a></td>
                        <td><a href="{{result.resume}}">{{result.resume}}</a></td>
                        <td>{{result.cortex}}</td>
                        <td>{{result.needs_reimbursement}}</td>
                        <td>{{result.can_pay}}</td>
                        <td>{{result.from_city}}</td>
                        <td>{{result.from_state}}</td>
                        <td>{{result.mentoring}}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </form>

    {% else %}
        <h1>Sorry! There are no result for your search. <a href="{{url_for('mhacks-applicationSearch')}}">Rerun the search</a></h1>
    {% endif %}
{% endblock %}