{% extends 'base.html' %}

{% block headers %}
    <link rel="stylesheet" media="all" href="{{ static('stylesheets/application_view.css') }}">
    {% block form_headers %}
    {% endblock %}
{% endblock %}

{% block content %}

        {% include 'header.html' %}
        {% if results %}
        <h1>There are {{ results | length }} Matches found. Click <a href="{{ url_for('mhacks-applicationSearch') }}">here</a> to run another search</h1>
        <div >
            <table class="table table-striped" style="color:black;overflow-x:scroll;">
            <thead>
                <tr>
                    <th>Score</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Submitted</th>
                    <th>Last updated</th>
                    <th>International</th>
                    <th>School</th>
                    <th>Major</th>
                    <th>Graduation date</th>
                    <th>Birthday</th>
                    <th>Gender</th>
                    <th>Race</th>
                    <th>GitHub</th>
                    <th>Devpost</th>
                    <th>Personal Website</th>
                    <th>Resume</th>
                    <th>Hackathons attended</th>
                    <th>Interests</th>
                    <th>Tell us about a project that you worked on and why you're proud of it.</th>
                    <th>What do you hope to take away from MHacks 8?</th>
                    <th>Anything else?</th>
                    <th>Needs reimbursement</th>
                    <th>Can pay</th>
                    <th>City</th>
                    <th>State/Country</th>
                    <th>Reimbursement</th>
                    <th>Mentor</th>
                </tr>

            </thead>
            <tbody>
                {% for result in results %}
                    <tr>
                        <td class="col-md-1">
                            <form method="POST" action="{{ url_for('mhacks-sendscore')}}">
                                {{ csrf_input }}
                                <input type="hidden" name="id" value="{{result.id}}">
                                <input type="text" name="score" value="{{result.score}}">
                                <input type="submit" value="update">
                            </form>

                        </td>

                        <td>{{result.user.first_name}} {{result.user.last_name}}</td>
                        <td >{{result.user.email}}</td>

                        <td >{{result.submitted}}</td>
                        <td >{{result.last_updated.strftime('%Y-%m-%d %H:%M')}}</td>
                        <td>{{result.is_international}}</td>
                        <td>{{result.school}}</td>
                        <td>{{result.major}}</td>
                        <td>{{result.grad_date}}</td>
                        <td>{{result.birthday}}</td>
                        <td>{{result.gender}}</td>
                        <td>{{result.race}}</td>
                        <td>{{result.github}}</td>
                        <td>{{result.devpost}}</td>
                        <td>{{result.personal_website}}</td>
                        <td>{{result.resume}}</td>
                        <td>{{result.num_hackathons}}</td>
                        <td>{{result.cortex}}</td>
                        <td>{{result.passionate}}</td>
                        <td>{{result.coolest_thing}}</td>
                        <td>{{result.other_info}}</td>
                        <td>{{result.needs_reimbursement}}</td>
                        <td>{{result.can_pay}}</td>
                        <td>{{result.from_city}}</td>
                        <td>{{result.from_state}}</td>
                        <td>{{result.reimbursement}}</td>
                        <td>{{result.mentoring}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>

        {% for result in results %}

        {% endfor %}

    {% else %}
        <h1>Sorry There is no result for your search. <a href="{{url_for('mhacks-applicationSearch')}}">Rerun the search</a></h1>
    {% endif %}
{% endblock %}