{% extends 'generic_form.html' %}

{% block form_headers %}
    <link rel="stylesheet" media="all" href="{{ static('stylesheets/application.css') }}">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
    <script src="//code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
    <script src="{{ static('javascript/autocomplete_lists.js') }}"></script>
    <script>
        $( function() {
            $( "#school-autocomplete" ).autocomplete({
                source: COLLEGES
            });

            $( "#major-autocomplete" ).autocomplete({
                source: MAJORS
            });

            $( "#gender-autocomplete" ).autocomplete({
                source: GENDER_PRONOUNS
            });

            $( "#race-autocomplete" ).autocomplete({
                source: RACES
            });

            $( "#state-autocomplete" ).autocomplete({
                source: STATES
            });
        } );
        $(document).ready(function() {
            $('input[type="checkbox"][id="id_is_high_school"]').change(function() {
                if (this.checked) {
                    $("#graduation_date").parent().hide();
                    $("#major-autocomplete").parent().hide();
                }
                else{
                    $("#graduation_date").parent().show();
                    $("#major-autocomplete").parent().show();
                }
            });
            $('input[type="checkbox"][id="id_is_international"]').change(function() {
                var stateAutocomplete = $("#state-autocomplete" );
                if (this.checked) {
                    stateAutocomplete.autocomplete("destroy");
                    stateAutocomplete.removeData('autocomplete');
                    stateAutocomplete.placeholder = "Country";
                }
                else {
                    stateAutocomplete.autocomplete({
                        source: STATES
                    });
                    stateAutocomplete.placeholder = "State";
                }
            });
            $("#id_can_pay").parent().hide();
            $('input[type="checkbox"][id="id_needs_reimbursement"]').change(function() {
                if (this.checked) {
                    $("#id_can_pay").parent().show();
                }
                else{
                    $("#id_can_pay").parent().hide();
                }
            });
        });
    </script>
{% endblock %}

{% block submit_row %}
    {#    <button value="save" data-toggle="tooltip" name="_save" id="save" class="four columns offset-by-four">{% block save_title %}Save{% endblock %}</button>#}
    {{ super() }}
{% endblock %}

{% block form_enctype %}enctype="multipart/form-data"{% endblock %}

{% block form_title %}Apply{% endblock %}
