<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="shortcut icon" type="image/png" href={{ static("assets/favicon.png") }} />
    <link rel="apple-touch-icon" type="image/png" href={{ static("assets/favicon.png") }} />
    <link rel="mask-icon" type="image/png" href='{{ static("assets/favicon.png") }}' />

    <meta charset="UTF-8">
    <meta name="apple-itunes-app" content="app-id=955659359">

    <meta name="viewport" content="width=device-width">
    <meta name="viewport" content="initial-scale=1.0">

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href="//fonts.googleapis.com/css?family=Ubuntu:400,700" rel="stylesheet" type="text/css">
	<link href="//fonts.googleapis.com/css?family=Lora:400,400italic|Open+Sans|Roboto|Source+Sans+Pro" rel="stylesheet" type="text/css">
    <link rel="stylesheet" media="all" href="{{ static('stylesheets/base.css') }}">

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js" type="application/javascript"></script>

    <!-- Open Graph Tags -->
    <meta property="og:description" content="2,000 hackers will gather from around the world, and we’ll provide you with everything you need to be as curious, productive, and passionate as you can be. Whether it’s your first time hacking or your eighth, MHacks is a weekend experience you won’t want to miss." />
    <meta property="og:title" content="MHacks 8" />
    <meta property="og:image" content="{{ static('assets/logoBlue.png') }}" />

    {% block headers %}
    {% endblock %}

    <title>{% block pagetitle %}MHacks 8{% endblock %}</title>
</head>
<body>
    {% block content %}
    {% endblock %}
</body>
	{% block scripts %}
	{% endblock %}
</html>
