<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="shortcut icon" type="image/png" href={{ static("assets/favicon.png") }} />
    <link rel="apple-touch-icon" type="image/png" href={{ static("assets/favicon.png") }} />
    <link rel="mask-icon" type="image/png" href='{{ static("assets/favicon.png") }}' />

    <meta charset="UTF-8">
    <meta name="apple-itunes-app" content="app-id=955659359">

    <meta name="viewport" content="width=device-width">
    <meta name="viewport" content="initial-scale=1.0">

	<link href="//fonts.googleapis.com/css?family=Ubuntu:400,700" rel="stylesheet" type="text/css">
	<link href="//fonts.googleapis.com/css?family=Lora:400,400italic|Open+Sans|Roboto|Source+Sans+Pro" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" media="all" href="{{ static('stylesheets/main.css') }}">

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"
    type="application/javascript"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <script src="//use.fontawesome.com/d6026c81cc.js"></script>

    {% block headers %}
    {% endblock %}

    <title>{% block pagetitle %}MHacks 8{% endblock %}</title>
</head>
<body>
    {% block content %}
    {% endblock %}
</body>
	{% block scripts %}
	{% endblock %}
</html>
