{% extends 'base.html' %}

{% block headers %}
    <link rel="stylesheet" media="all" href="{{ static('stylesheets/form.css') }}">
    {% block basic_page_headers %}
    {% endblock %}
{% endblock %}

{% block content %}
    {% include 'header.html' %}

    <div class="container container-form">

        <div class="col-12 text-center title-form">
            <h3>{% block basic_page_title %}{% endblock %}</h3>
        </div>
        {% block basic_page_content %}
        {% endblock %}
    </div>
{% endblock %}
