{% extends 'base.html' %}

{% block headers %}
    <link rel="stylesheet" media="all" href='{{ static('stylesheets/blackout.css') }}'/>
{% endblock %}

{% block content %}
    <div class="background">
        <div class="background-title">
            <h1>MHacks 8</h1>
            <h3>Fall 2016</h3>
            {% if error is defined %}
                <div style="width: 40%; margin: auto;" class="alert alert-danger" role="alert">{{ error }}</div>
            {% endif %}
            {% if success is defined %}
                <div style="width: 40%; margin: auto;" class="alert alert-success" role="alert">Thank you! We'll be in contact soon.</div>
            {% endif %}
            <p id="changeOnSubmission">Sign up for updates:</p>
            <div id="email">
                <form method="post">
                    {{ csrf_input }}
                    <input id="emailBox" name="email" type="email" placeholder="your@email.com" onfocus="this.placeholder= ''" onblur="this.placeholders='your@email.com'" required="">
                    <button id="SubmitButton" type="submit" class="btn">Submit</button>
                </form>
            </div>
        </div>
    </div>
    <div id="bottom">
        <div id="left" class="footer-link">
            <p> Have any questions? </p>
            <p> <a href="mailto:hackathon@umich.edu" class="email-link">hackathon@umich.edu</a></p>
        </div>

        <div id="right" class="footer-link">
            <p> Sponsorship inquiries: </p>
            <p> <a href="mailto:sponsor-mhacks@umich.edu" class="email-link">sponsor-mhacks@umich.edu</a> </p>
        </div>
    </div>
{% endblock %}