{% extends 'base.html' %}

{% block headers %}
    <link rel="stylesheet" media="all" href='{{ static('stylesheets/blackout.css') }}'/>
    <script>
        var csrfToken = getCookie('csrftoken');
        function submitAction() {
            if(!$("#emailBox")[0].checkValidity()) {
                alert("Please enter a valid email.");
                return false;
            }
            var data = {
                "email": $("#emailBox").val()
            };
            $.post("/subscribe_email/", data, function(response) {
                console.log(response);
                if(!response.success) {
                    alert(response.error);
                }
            }, "json");
            $("#changeOnSubmission").html("Great! We'll keep you updated.");
            $("#emailBox, #SubmitButton").hide(150);
        }
        $(function() {
            $("#emailBox").keydown(function(e) {
                if(e.which == 13) {
                    submitAction();
                }
            });
            $.ajaxSetup({
                beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRFToken', csrfToken)}
            });
        });
    </script>
{% endblock %}

{% block content %}
    <div class="background">
        <div class="background-title">
            <h1>MHacks 8</h1>
            <h3>Fall 2016</h3>
            <p id="changeOnSubmission">Sign up for updates:</p>
            <div id="email">
                <input id="emailBox" name="email" type="email" placeholder="your@email.com" onfocus="this.placeholder= ''" onblur="this.placeholder = 'your@email.com'" required="">
                <button id="SubmitButton" type="submit" class="btn" onclick="submitAction()">Submit</button>
            </div>
        </div>
    </div>
    <div id="bottom">
        <div id="left" class="footer-link">
            <p> Have any questions? </p>
            <p> <a href="mailto:hackathon@umich.edu" class="email-link">hackathon@umich.edu</a></p>
        </div>

        <div id="right" class="footer-link">
            <p> Sponsorship inquiries: </p>
            <p> <a href="mailto:sponsor-mhacks@umich.edu" class="email-link">sponsor-mhacks@umich.edu</a> </p>
        </div>
    </div>
{% endblock %}