{% extends 'basic_page.html' %}

{% block basic_page_headers %}
    {% block form_headers %}
    {% endblock %}
{% endblock %}

{% block basic_page_title %}
    {% block form_title %}{% endblock %}
{% endblock %}

{% block basic_page_content %}
    {% if form %}
        <form class="form-horizontal" method="POST" autocomplete="on"
              action="{% block form_action %}{% endblock %}" {% block form_enctype %}{% endblock %}>
            {{ csrf_input }}
            <fieldset>
                <div class="section body-form">
                    {% block non_field_errors %}
                        {% for error in form.non_field_errors() %}
                            <p class="text-center alert alert-danger error">{{ error }}</p>
                        {% endfor %}
                    {% endblock %}
                    {% for field in form %}
                        {% if field.field.title %}
                            <div class="row none">
                                <div class="col-lg-12 text-center title-apply">
                                    <div class="application-title">{{ field.field.title }}</div>
                                </div>
                            </div>
                            {% if field.field.subtitle %}
                                <div class="row none">
                                    <div class="col-lg-12 text-center">
                                        <div class="application-subtitle">{{ field.field.subtitle }}</div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endif %}
                        <div class="form-{{ 'full' if field.field.full else 'field' }} col-lg-{{ field.field.cols if field.field.cols else '12' }}">
                            <label class="form-label">
                                {{ field.label }}
                            </label>
                            {% if field.field.full %}
                                <div class="full-widget">{{ field.as_widget() }}</div>
                            {% else %}
                                {{ field.as_widget() }}
                            {% endif %}
                        </div>
                        {% for error in form.errors[field.name] %}
                            <div class="text-center alert alert-danger error"><p>{{ error }}</p></div>
                        {% endfor %}
                        {% if field.field.space_after %}
                            <div class="form-field col-lg-12" style="padding-bottom: 30px"></div>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="submit-row">
                    {% block submit_row %}
                        <button value="submit" data-toggle="tooltip" name="_submit" id="submit" class="four columns offset-by-four">
                            {% block submit_title %}Submit{% endblock %}
                        </button>
                    {% endblock %}
                </div>
                <div class="text-center row three">
                    {% block form_footer %}
                    {% endblock %}
                </div>
            </fieldset>
        </form>
    {% endif %}
{% endblock %}
