{% extends 'base.html' %}

{% block headers %}
    <link rel="stylesheet" media="all" href="{{ static('stylesheets/index.css') }}">
{% endblock %}

{% block content %}
    <canvas id="bgCanvas"></canvas>
    <div id="container">
        {% include 'header.html' %}
        <div class="grid">
            <div class="grid-item lightBlue" data-remove="1" data-expandable="0">
                <div class="grid-item-icon">
                    <img class="tile-image" src="{{ static('assets/categoryLogos-11.png') }}" alt="Hardware">
                </div>
            </div>
            <div class="grid-item expand-small blue tile-shadow" data-remove="0" data-expandable="1">
                <div class="expand-icon"></div>
                <div class="grid-item-content">
                    <div class="basic-info">
                        <h1>What is MHacks?</h1>
                    </div>
                    <div class="extra-info">
                        <p>
                            MHacks is a 36-hour hackathon hosted by University of Michigan students.
                        </p>
                        <p>
                            2,000 hackers will gather from around the world, and we’ll provide you with everything you
                            need to be as curious, productive, and passionate as you can be. Whether it’s your first
                            time hacking or your eighth, MHacks is a weekend experience you won’t want to miss.
                        </p>
                    </div>
                </div>
            </div>
            <div class="grid-item width2" data-remove="0" data-expandable="0">
                <div class="grid-item-image">
                    <img class="flavor-image" src="{{ static('assets/main-page-1.png') }}" alt="Headset Technology">
                </div>
            </div>
            <div class="grid-item darkBlue" data-remove="1" data-expandable="0">
                <div class="grid-item-icon">
                    <img class="tile-image" src="{{ static('assets/categoryLogos-06.png') }}" alt="Video Games">
                </div>
            </div>
            <div class="grid-item blue" data-remove="1" data-expandable="0">
                <div class="grid-item-icon">
                    <img class="tile-image" src="{{ static('assets/categoryLogos-07.png') }}"
                         alt="Virtual Reality Headset">
                </div>
            </div>
            <div class="grid-item darkBlue tile-shadow" data-remove="0" data-expandable="0">
                <a href="https://www.facebook.com/MHacksHackathon/" target="_blank">
                    <div class="grid-item-icon clickable-icon">
                        <img src="{{ static('assets/fb-link.png') }}"
                             alt="MHacks Facebook, https://www.facebook.com/MHacksHackathon"/>
                    </div>
                </a>
            </div>
            <div class="grid-item width2" data-remove="0" data-expandable="0">
                <div class="grid-item-image">
                    <img class="flavor-image" src="{{ static('assets/main-page-2.png') }}" alt="LED Strip Device">
                </div>
            </div>
            <div class="grid-item lightBlue" data-remove="1" data-expandable="0">
                <div class="grid-item-icon">
                    <img class="tile-image" src="{{ static('assets/categoryLogos-08.png') }}" alt="Smartphone">
                </div>
            </div>
            <div class="grid-item width2" data-remove="0" data-expandable="0">
                <div class="grid-item-image">
                    <img class="flavor-image" src="{{ static('assets/main-page-3.png') }}"
                         alt="Mentor Helping Students">
                </div>
            </div>
            <div class="grid-item expand-medium darkBlue tile-shadow" data-remove="0" data-expandable="1">
                <div class="expand-icon"></div>
                <div class="grid-item-content">
                    <div class="basic-info">
                        <h1>What's new with MHacks 8?</h1>
                    </div>
                    <div class="extra-info">
                        <p>
                            This year, we’re returning to <b>Detroit</b> for the first time since MHacks III. <a
                                href="http://www.themasonic.com/" target="_blank">The Masonic Temple</a> in Detroit is
                            the largest in
                            the world and is located in the heart of the Motor City. Built in 1922, this historic
                            building is the perfect setting for a weekend in a city thriving with renewed
                            entrepreneurial spirit. We hope you use this energy and atmosphere to drive your hacks.
                        </p>
                        <p>
                            A change of venue gives us a chance to increase our attendance to 2,000 hackers, which
                            allows us to grow the MHacks community. In doing so, we’re able to provide the support our
                            hackers need to discover hacking and develop their skills alongside teammates, mentors,
                            competitors, and friends.
                        </p>
                        <p>
                            This Fall, we’re also going to focus on wellness. Sometimes, hackathons have been notorious
                            for unhealthy food, sleep deprivation, and uncomfortable hacking spaces. And we don’t think
                            it should take two weeks to recover from one. We will have healthier food options, sleeping
                            spaces, and more health life hacks to keep you feeling your best during the weekend, and
                            after.
                        </p>
                    </div>
                </div>
            </div>
            <div class="grid-item lightTurquoise" data-remove="1" data-expandable="0">
                <div class="grid-item-icon">
                    <img class="tile-image" src="{{ static('assets/categoryLogos-10.png') }}" alt="Computer">
                </div>
            </div>
            <div class="grid-item lightBlue tile-shadow" data-remove="0" data-expandable="0">
                <a href="https://twitter.com/mhacks" target="_blank">
                    <div class="grid-item-icon clickable-icon">
                        <img src="{{ static('assets/twitter-link.png') }}"
                             alt="MHacks Twitter, https://twitter.com/mhacks"/>
                    </div>
                </a>
            </div>
            <div class="grid-item width2" data-remove="0" data-expandable="0">
                <div class="grid-item-image">
                    <img class="flavor-image" src="{{ static('assets/main-page-4.png') }}" alt="Students Collaborating">
                </div>
            </div>
            <div class="grid-item darkBlue" data-remove="1" data-expandable="0">
                <div class="grid-item-icon">
                    <img class="tile-image" src="{{ static('assets/categoryLogos-09.png') }}" alt="Android Robot">
                </div>
            </div>
        </div>

        <div class="more-info">

            <h1 class="grey-text" style="margin-top:25px;">Frequently Asked Questions</h1>
            <div class="col-1 center-col" style="margin-top: 25px;">
                <div class="big-tile">

                    <h4>General</h4>
                    <div class="faq-row">
                        <div class="faq-item">
                            <div class="question" data-qid="1">
                                What happens at a hackathon?
                            </div>
                            <div class="answer" data-qid="1">
                                Participants (“hackers”) spend 36 hours working in teams of 1 - 4 people to build or
                                code projects (“hacks”) they’re excited about. There are workshops, mentors, food, swag,
                                and buckets of coffee to guide you along the way. You bring your ideas, and we give you
                                everything you need to make them come to life.
                            </div>
                        </div>
                        <div class="faq-item">
                            <div class="question" data-qid="2">
                                What do people normally make?
                            </div>
                            <div class="answer" data-qid="2">
                                Common areas of focus include iOS or Android apps, web apps, and hardware hacks.
                                Check
                                out the hacks from MHacks Refactor on <a
                                    href="http://mhacksrefactor.devpost.com/submissions" target="_blank">[ Devpost ]</a>.
                            </div>
                        </div>
                        <div class="faq-item">
                            <div class="question" data-qid="3">
                                Do I have to know how to code to attend?
                            </div>
                            <div class="answer" data-qid="3">
                                Nope! We’ll have lots of resources—including workshops and a sweet, new mentorship
                                system—to help beginners get started.
                            </div>
                        </div>
                        <div class="faq-item">
                            <div class="question" data-qid="4">
                                Who runs MHacks?
                            </div>
                            <div class="answer" data-qid="4">
                                MHacks is run by a group of dedicated and passionate young people, most of whom are
                                students at the University of Michigan.
                            </div>
                        </div>
                    </div>

                    <h4>Application</h4>
                    <div class="faq-row">
                        <div class="faq-item">
                            <div class="question" data-qid="6">
                                When are applications closing?
                            </div>
                            <div class="answer" data-qid="6">
                                Applications are rolling until a week or so before the event. Space fills up quick,
                                so
                                apply early!
                            </div>
                        </div>
                        <div class="faq-item">
                            <div class="question" data-qid="7">
                                How and when will I hear back?
                            </div>
                            <div class="answer" data-qid="7">
                                We’ll be releasing decisions weekly starting in August. If you’ve submitted your
                                application by a Friday, you’ll be getting an email back by the next Friday!
                            </div>
                        </div>
                        <div class="faq-item">
                            <div class="question" data-qid="8">
                                Who can apply?
                            </div>
                            <div class="answer" data-qid="8">
                                If you’re enrolled in a high school, college, or university, or if you left school
                                during the current school year, you’re good to go! (Minors are welcome to apply, but
                                will need to fill out a couple extra forms in order to attend.)
                            </div>
                        </div>
                        <div class="faq-item">
                            <div class="question" data-qid="9">
                                Can we apply as a team?
                            </div>
                            <div class="answer" data-qid="9">
                                You and your intended teammates should all apply individually. But if you get an
                                invitation and some of your teammates don’t, shoot us an email at <a
                                    href="mailto:hackathon@umich.edu">hackathon@umich.edu</a> and
                                we’ll
                                try to sort
                                things out.
                            </div>
                        </div>
                        <div class="faq-item">
                            <div class="question" data-qid="10">
                                Do I have to register?
                            </div>
                            <div class="answer" data-qid="10">
                                Anyone attending MHacks 8 must register! You’ll receive a link to register when you
                                receive your invitation.
                            </div>
                        </div>
                        <div class="faq-item">
                            <div class="question" data-qid="11">
                                What if I’m a Michigan student?
                            </div>
                            <div class="answer" data-qid="11">
                                All Michigan students are welcome to attend MHacks, but we still need you to apply &
                                register beforehand. When you apply with your umich.edu email address, you’ll
                                receive an
                                invitation within the next week or so.
                            </div>
                        </div>
                        <div class="faq-item">
                            <div class="question" data-qid="12">
                                What are you looking for in an application?
                            </div>
                            <div class="answer" data-qid="12">
                                Above anything else—passion. Tell us what you care about, what excites you. We want
                                to
                                know what’ll drive you to start and continue hacking. If there’s something about
                                MHacks
                                in particular that you’re excited about, we’d love to hear about that too!
                            </div>
                        </div>
                        <div class="faq-item">
                            <div class="question" data-qid="13">
                                Are you allowing walk-ins?
                            </div>
                            <div class="answer" data-qid="13">
                                You’ll be able to register day-of only if there’s space. To ensure that you’ll be
                                allowed in before arriving at the venue, please apply and register ahead of time.
                            </div>
                        </div>
                    </div>

                    <h4>Hacking</h4>
                    <div class="faq-row">
                        <div class="faq-item">
                            <div class="question" data-qid="14">
                                What if I don’t have a team or idea?
                            </div>
                            <div class="answer" data-qid="14">
                                Not to worry, most people don’t! We have some great activities planned before and
                                during
                                the event to help you meet teammates and start thinking through your ideas.
                            </div>
                        </div>
                        <div class="faq-item">
                            <div class="question" data-qid="15">
                                What kind of hardware will there be?
                            </div>
                            <div class="answer" data-qid="15">
                                There’ll be tons of cool hardware for you to hack on! We’ll put out a list closer to
                                the
                                event so you can see what’s available. You can also feel free to bring your own from
                                home or <a href="mailto:hackathon@umich.edu">email us</a> with any
                                suggestions!
                            </div>
                        </div>
                    </div>

                    <h4>Logistics</h4>
                    <div class="faq-row">
                        <div class="faq-item">
                            <div class="question" data-qid="16">
                                How will I get there from UM?
                            </div>
                            <div class="answer" data-qid="16">
                                We’ll have buses to bring you to Masonic! More information on the bus schedule will
                                be
                                released closer to the event. The <a href="http://www.ridemdcc.umich.edu/"
                                                                     target="_blank">Detroit
                                Connector</a> also runs between campus and Detroit in case you need to get back to
                                Ann
                                Arbor for some reason.
                            </div>
                        </div>
                        <div class="faq-item">
                            <div class="question" data-qid="17">
                                How will I get there from other schools?
                            </div>
                            <div class="answer" data-qid="17">
                                After you’ve applied and received word that you're coming to MHacks, we'll share
                                information about buses and travel reimbursements. More than likely, we'll be
                                sending a
                                bus to a school near you. If you’re flying in, we’ll have shuttles from DTW as well.
                                All
                                bus schedules will be released closer to the event.
                            </div>
                        </div>
                        <div class="faq-item">
                            <div class="question" data-qid="18">
                                What if I'm an International Student?
                            </div>
                            <div class="answer" data-qid="18">
                                If you go to school in Canada, we may be sending a bus to your university or one
                                near
                                you. If you are traveling from another country, the first step is to make sure you
                                have
                                a valid travel Visa. Please refer to <a href="https://www.visahq.com/"
                                                                        target="_blank">this</a>
                                website
                                to make sure you meet the requirements and get started on the process if you haven’t
                                already. If you need anything from the organizers, such as a letter of invitation,
                                please contact us as soon as possible at <a href="mailto:hackathon@umich.edu">hackathon@umich.edu</a>.
                            </div>
                        </div>
                        <div class="faq-item">
                            <div class="question" data-qid="19">
                                Will you be offering travel reimbursements?
                            </div>
                            <div class="answer" data-qid="19">
                                We can’t guarantee reimbursements for everyone, but we don’t want money to keep you
                                from
                                experiencing MHacks. You’ll get a reimbursement amount along with your invitation.
                                Let
                                us know if you still need help making your way to Detroit and we’ll see what we can
                                do.
                            </div>
                        </div>
                        <div class="faq-item">
                            <div class="question" data-qid="20">
                                Will there be parking available?
                            </div>
                            <div class="answer" data-qid="20">
                                We’ll have a limited number of free parking spaces available at Masonic. If you’re
                                planning on driving, make sure to indicate that on the registration form!
                            </div>
                        </div>
                        <div class="faq-item">
                            <div class="question" data-qid="21">
                                What should I bring?
                            </div>
                            <div class="answer" data-qid="21">
                                You should bring anything you’d need for a sleepover: laptop, charger, deodorant
                                (!),
                                change of clothes, sleeping bag. You won’t need food or drinks; we’ve got you
                                covered
                                there.
                            </div>
                        </div>
                        <div class="faq-item">
                            <div class="question" data-qid="22">
                                What shouldn't I bring?
                            </div>
                            <div class="answer" data-qid="22">
                                Weapons of any kind, drugs, or alcohol. If you’re not sure whether something will be
                                okay, please ask ahead of time!
                            </div>
                        </div>
                        <div class="faq-item">
                            <div class="question" data-qid="23">
                                Can I sleep?
                            </div>
                            <div class="answer" data-qid="23">
                                Yep! We’ll have a sleeping area but no cots, so bring a sleeping bag and a pillow if
                                you’ll need them.
                            </div>
                        </div>
                        <div class="faq-item">
                            <div class="question" data-qid="24">
                                Can I shower?
                            </div>
                            <div class="answer" data-qid="24">
                                Yes, there will be opportunities to shower at MHacks 8!.
                            </div>
                        </div>
                    </div>

                    <h4>Help!</h4>
                    <div class="faq-row">
                        <div class="faq-item">
                            <div class="question" data-qid="25">
                                I don’t want to hack, I want to ________!
                            </div>
                            <div class="answer" data-qid="25">
                                If you’re contemplating judging, volunteering, or mentoring, shoot us an email at <a
                                    href="mailto:hackathon@umich.edu">hackathon@umich.edu</a>. If
                                your
                                company is
                                interested in becoming a sponsor, check out the sponsorship section below.
                            </div>
                        </div>
                        <div class="faq-item">
                            <div class="question" data-qid="5">
                                I didn't find my question here...
                            </div>
                            <div class="answer" data-qid="5">
                                If you’ve got something else on your mind, fire it off to <a
                                    href="mailto:hackathon@umich.edu">hackathon@umich.edu</a>!
                            </div>
                        </div>

                    </div>

                </div>
            </div>

            <h1 class="grey-text">Sponsorship</h1>
            <div class="flex-row">
                <div class="col-2-bigL">
                    <p>MHacks is the gateway between you and the top tech talent in the world. Whether you come to
                        network,
                        promote brand awareness, or get feedback on a product or API, we’ll provide the tools you need
                        to make
                        the most out of your experience.</p>
                    <p>Interested in sponsoring? Want more information? Shoot us an email at
                        <a href="mailto:sponsor-mhacks@umich.edu">sponsor-mhacks@umich.edu</a>
                        <br/><br/>We have an awesome lineup of sponsors for you below.<br/>Check back soon for even more company logos!
                    </p>
                </div>
                <div class="col-2-smallR" style="text-align: center">
                    <img class="sponsors-image" src="{{ static('assets/sponsorIllustration-13.png') }}"
                         alt="Sponsorship">
                </div>
            </div>


            <div class="col-1 flex-row">
                <div class="col-2 big-tile">
                    <p class="quote">This was one of the most well organized student-run hackathons that we’ve ever
                        sponsored.</p>
                    <p class="source">Google</p>
                </div>
                <div class="col-2 big-tile">
                    <p class="quote">The caliber and number of students that MHacks attracts is like no other hacking
                        event.</p>
                    <p class="source">Walmart</p>
                </div>
                <div style="width: 100%" class="big-tile">
                    <p class="quote">MHacks has been a staple event in Concur’s University Tour over the past two years.
                        The MHacks atmosphere fosters creativity and innovation from developers and entrepreneurs alike.
                        When it comes to collegiate hackathons, MHacks is the place to be!</p>
                    <p class="source">Concur</p>
                </div>
            </div>


            <h1 class="grey-text" style="margin-top:25px;">Sponsors</h1>
            <div class="col-1 center-col" style="margin-top: 25px;">
                <div class="logo-container big-tile">
                    <h1 style="font-size:20pt; font-variant: small-caps">MHacks 8 Presented By</h1>
                    <div class="logo-row premium">
                        <div><a target="_blank" href="http://corporate.ford.com/careers.html"><img
                                src="{{ static('assets/Ford_logo.png') }}" alt="Sponsor Logo - Ford"></a></div>
                    </div>
                </div>
                <div class="logo-container big-tile">
                    <div class="logo-row large">
                        <div><a target="_blank" href="http://careers.gm.com/"><img
                                src="{{ static('assets/GM_logo.png') }}" alt="Sponsor Logo - GM"></a></div>
                        <div><a target="_blank" href="https://careers.microsoft.com/students"><img
                                src="{{ static('assets/Microsoft_logo.png') }}" alt="Sponsor Logo - Microsoft"></a></div>
                    </div>
                    <div class="logo-row large">
                        <div><a target="_blank" href="http://www.ge.com/"><img
                                src="{{ static('assets/GE_logo.png') }}" alt="Sponsor Logo - GE"></a></div>
                        <div><a target="_blank" href="http://www.blackrock.com/"><img
                                src="{{ static('assets/blackrock_logo.png') }}" alt="Sponsor Logo - Blackrock"></a></div>

                    </div>
                    <div class="logo-row medium">
                        <div><a target="_blank" href="http://a16z.com"><img
                                src="{{ static('assets/a16z_logo.png') }}" alt="Sponsor Logo - a16z"></a></div>
                        <div><a target="_blank" href="http://www.magna.com/"><img
                                src="{{ static('assets/Magna_logo.png') }}" alt="Sponsor Logo - Magna Electronics"></a></div>
                        <div><a target="_blank" href="https://corp.mhplan.com/"><img
                                src="{{ static('assets/Meridian_logo.png') }}" alt="Sponsor Logo - Meridian Health Plan"></a></div>
                    </div>
                    <div class="logo-row medium">
                        <div><a target="_blank" href="http://linode.com"><img
                                src="{{ static('assets/Linode_logo.png') }}" alt="Sponsor Logo - Linode"></a></div>
                        <div><a target="_blank" href="http://www.wellopp.com/"><img
                                src="{{ static('assets/Wellopp_logo.png') }}" alt="Sponsor Logo - Wellopp"></a></div>
                        <div><a target="_blank" href="http://www.battelle.org/cyber-careers"><img
                                src="{{ static('assets/Battelle_logo.png') }}" alt="Sponsor Logo - Battelle"></a></div>
                    </div>
                    <div class="logo-row medium">
                        <div><a target="_blank" href="https://corporate.target.com/careers/career-areas/technology"><img
                                src="{{ static('assets/Target_logo.jpg') }}" alt="Sponsor Logo - Target"></a></div>
                        <div><a target="_blank" href="https://www.facebook.com/careers/"><img
                                src="{{ static('assets/Facebook_logo.png') }}" alt="Sponsor Logo - Facebook"></a></div>
                        <div><a target="_blank" href="http://www.esri.com/"><img
                                src="{{ static('assets/Esri_logo.png') }}" alt="Sponsor Logo - Esri"></a></div>
                    </div>
                    <div class="logo-row medium">
                        <div><a target="_blank" href="https://sendgrid.com/accelerate"><img
                                src="{{ static('assets/Sendgrid_logo.png') }}" alt="Sponsor Logo - Sendgrid"></a></div>
                        <div><a target="_blank" href="https://undergroundshirts.com/"><img
                                src="{{ static('assets/UGP_logo.png') }}" alt="Sponsor Logo - UGP"></a></div>
                        <div><a target="_blank" href="https://www.concur.com/"><img
                                src="{{ static('assets/Concur_logo.png') }}" alt="Sponsor Logo - Concur"></a></div>
                    </div>
                    <div class="logo-row medium">
                        <div><a target="_blank" href="https://www.quickenloans.com"><img
                                src="{{ static('assets/quicken_logo.jpg') }}" alt="Sponsor Logo - Quicken Loans"></a></div>
                        <div><a target="_blank" href="https://www.arbornetworks.com/"><img
                                src="{{ static('assets/ArborNetworks_logo.png') }}" alt="Sponsor Logo - Arbor Networks"></a></div>
                    </div>
                    <div class="logo-row small">
                        <div><a target="_blank" href="http://www.1517fund.com/"><img
                                src="{{ static('assets/1517_logo.png') }}" alt="Sponsor Logo - 1517"></a></div>
                        <div><a target="_blank" href="http://www.bloomberg.com/"><img
                                src="{{ static('assets/Bloomberg_logo.png') }}" alt="Sponsor Logo - Bloomberg"></a></div>
                        <div><a target="_blank" href="https://cycle.io/"><img
                                src="{{ static('assets/Cycle_logo.png') }}" alt="Sponsor Logo - Cycle"></a></div>
                        <div><a target="_blank" href="http://www.lifeatexpedia.com/university"><img
                                src="{{ static('assets/Expedia_logo.png') }}" alt="Sponsor Logo - Expedia"></a></div>
                        <div><a target="_blank" href="https://www.venturestorm.com/"><img
                                src="{{ static('assets/VentureStorm_logo.png') }}" alt="Sponsor Logo - VentureStorm"></a></div>
                    </div>
                    <div class="logo-row small">
                        <div><a target="_blank" href="https://www.retailmenot.com/"><img
                                src="{{ static('assets/RetailMeNot_logo.png') }}" alt="Sponsor Logo - RetailMeNot"></a></div>
                        <div><a target="_blank" href="https://developer.nrel.gov/"><img
                                src="{{ static('assets/NREL_logo.png') }}" alt="Sponsor Logo - NREL"></a></div>
                        <div><a target="_blank" href="http://wolfram.com/"><img
                                src="{{ static('assets/wolfram-corporate-logo.png') }}" alt="Sponsor Logo - Wolfram"></a></div>
                        <div><a target="_blank" href="http://pillartechnology.com/"><img style="width:80%" 
                                src="{{ static('assets/pillar_logo.png') }}" alt="Sponsor Logo - Pillar"></a></div>    
                        <div><a target="_blank" href="https://www.salesforceiq.com/"><img 
                                src="{{ static('assets/salesforceiq_icon.jpg') }}" alt="Sponsor Logo - SalesForceIQ"></a></div>     
                    </div>
                    <div class="logo-row small">
                        <div><a target="_blank" href="http://www.goldmansachs.com/"><img
                                src="{{ static('assets/goldman_logo.jpg') }}" alt="Sponsor Logo - Goldman Sachs"></a></div>
                        <div><a target="_blank" href="http://www.intrepidcs.com/"><img
                                src="{{ static('assets/Intrepid_logo.png') }}" alt="Sponsor Logo - IntrepidCS"></a></div>
                        <div><a target="_blank" href="http://ventureforamerica.org/"><img
                                src="{{ static('assets/vfa_logo.jpg') }}" alt="Sponsor Logo - VFA"></a></div>
                        <div><a target="_blank" href="https://www.capitalone.com/"><img
                                src="{{ static('assets/capitalone_logo.png') }}" alt="Sponsor Logo - Capital One"></a></div>
                        <div><a target="_blank" href="https://www.kcg.com/"><img
                                src="{{ static('assets/kcg_logo.png') }}" alt="Sponsor Logo - KCG"></a></div>
                    </div>
                    <div class="logo-row small">
                        <div><a target="_blank" href="http://www.google.com/"><img
                                src="{{ static('assets/google_logo.png') }}" alt="Sponsor Logo - Google"></a></div>
                        <div><a target="_blank" href="http://www.namecheap.com/"><img
                                src="{{ static('assets/Namecheap.png') }}" alt="Sponsor Logo - Namecheap"></a></div>
                        <div><a target="_blank" href="http://www.qualtrics.com/"><img
                                src="{{ static('assets/qualtrics_logo.png') }}" alt="Sponsor Logo - Qualtrics"></a></div>
                        <div><a target="_blank" href="http://www.qualtrics.com/"><img
                                src="{{ static('assets/mongodb_logo.jpg') }}" alt="Sponsor Logo - MongoDB"></a></div>
                    </div>
                </div>

                <div class="logo-container big-tile">
                    <h1 style="font-size:20pt; font-variant: small-caps">In Partnership With</h1>
                    <div class="logo-row">
                        <div class="col-3"><a href="https://static.mlh.io/docs/mlh-code-of-conduct.pdf" target="_blank">
                            <img class="partner-logo" src="{{ static('assets/mlh_color.png') }}" alt="Major League Hacking"></a></div>
                        <div class="col-3"><a href="https://hacker.fund/" target="_blank">
                            <img class="partner-logo" src="{{ static('assets/HackerFundLogo.png') }}" alt="Hacker Fund"></a></div>
                        <div class="col-3">
                            <img class="partner-logo" src="{{ static('assets/minervaLogo.png') }}" alt="Minerva"></div>
                    </div>
                </div>
            </div>

                  


            <div class="flex-row">

            </div>
        </div>

        <div class="footer-bar">
            <a id="footer-flag"
               href="https://mlh.io/seasons/na-2017/events?utm_source=na-2017&utm_medium=TrustBadge&utm_campaign=na-2017&utm_content=white"
               target="_blank"><img src="https://s3.amazonaws.com/logged-assets/trust-badge/2017/white.svg"
                                    alt="Major League Hacking 2017 Hackathon Season" style="height:100%"></a>

            &copy; MHacks 2016
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{{ static('javascript/packery.pkgd.min.js') }}" type="application/javascript"></script>
    <script src="{{ static('javascript/index.js') }}" type="application/javascript"></script>
    <script src="{{ static('javascript/faq.js') }}" type="application/javascript"></script>
{% endblock %}
