<div class="content-box maps">
    <div class="content-header col-2-flex">
        <h1>Maps</h1>
        <div class="right-header-group">
            <div class="maps-link selected" data-level="B">B</div>
            <div class="maps-link" data-level="1">1</div>
            <div class="maps-link" data-level="2">2</div>
            <div class="maps-link" data-level="3">3</div>
            <div class="maps-link" data-level="4">4</div>
            <div class="maps-link" data-level="5">5</div>
        </div>
    </div>
    <div class="maps-container">
        <div class="maps-floor" data-level="5">
            <div class="floor-diagram">
                <img src="{{ static('assets/5th_floor.png') }}" alt="5th Floor Diagram">
            </div>
            <div class="floor-details">
                <h3>Cortices</h3>
                <ul>
                    <li>Web Cortex</li>
                </ul>
            </div>
        </div>
        <div class="maps-floor" data-level="4">
            <div class="floor-diagram">
                <img src="{{ static('assets/4th_floor.png') }}" alt="4th Floor Diagram">
            </div>
            <div class="floor-details">
                <h3>Cortices</h3>
                <ul>
                    <li>Hardware Cortex</li>
                </ul>
                <h3>Other</h3>
                <ul>
                    <li>Bathrooms</li>
                </ul>
            </div>
        </div>
        <div class="maps-floor" data-level="3">
            <div class="floor-diagram">
                <img src="{{ static('assets/3rd_floor.png') }}" alt="3rd Floor Diagram">
            </div>
            <div class="floor-details">
                <h3>Cortices</h3>
                <ul>
                    <li>AR/VR Cortex</li>
                </ul>
                <h3>Tech Talk Rooms</h3>
                <ul>
                    <li>Red Wings</li>
                </ul>
            </div>
        </div>
        <div class="maps-floor" data-level="2">
            <div class="floor-diagram">
                <img src="{{ static('assets/2nd_floor.png') }}" alt="2nd Floor Diagram">
            </div>
            <div class="floor-details">
                <h3>Cortices</h3>
                <ul>
                    <li>Mobile Cortex</li>
                </ul>
                <h3>Other</h3>
                <ul>
                    <li>Help Desk</li>
                    <li>Bathrooms</li>
                </ul>
            </div>
        </div>
        <div class="maps-floor" data-level="1">
            <div class="floor-diagram">
                <img src="{{ static('assets/1st_floor.png') }}" alt="1st Floor Diagram">
            </div>
            <div class="floor-details">
                <h3>Other</h3>
                <ul>
                    <li>Auditorium</li>
                    <li>Help Desk</li>
                    <li>Bathrooms</li>
                </ul>
            </div>
        </div>
        <div class="maps-floor" data-level="B">
            <div class="floor-diagram">
                <img src="{{ static('assets/basement_floor.png') }}" alt="Basement Floor Diagram">
            </div>
            <div class="floor-details">
                <h3>Cortices</h3>
                <ul>
                    <li>Social Impact Cortex</li>
                    <li>Detroit Cortex</li>
                    <li>Mobility Cortex</li>
                </ul>
                <h3>Tech Talk Rooms</h3>
                <ul>
                    <li>Lions Room</li>
                    <li>Tigers Room</li>
                </ul>
                <h3>Other</h3>
                <ul>
                    <li>Hacker and Sponsor Registration</li>
                    <li>Sleeping Rooms (10pm - 7am)</li>
                    <li>Bathrooms</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script src="{{ static('javascript/maps.js') }}" type="text/javascript"></script>
