<div class="content-box">
    <div class="content-header">
        <h1>Mentorship</h1>
    </div>
    <div class="mentorship-container">
        <h2>
            Some resources to help you get started!
        </h2>
        <h3>
            <a href="https://github.com/omkarmoghe/MH-Android-Workshop">Intro Android Workshop</a><br>
            <a href="https://github.com/russellladd/BeaconRanger">Intro iOS Workshop</a><br>
            <a href="https://drive.google.com/open?id=0B7ty8eTrsvjPUGlhcEVxT0phekk">Bot Making Workshop</a><br>
        </h3>
        <div class="mentorship-block">
            <p>
                Need a mentor? Head to the mentorship slack here: <br><a href="http://bit.ly/mhacks8" target="_blank">http://bit.ly/mhacks8/</a><br>
                See a Help Desk if you need to be added to the Slack.
                <br>We're using a mentorship platform called Minerva, and we're really excited to be piloting it!
            </p>
            <div class="faq-item mentorship-minerva">
                <div class="question" data-qid="M">
                    How do I use Minerva?
                </div>
                <div class="answer" data-qid="M">
                    <p>
                        <br>Here's how it works: In any channel, simply use the <code>/minerva help</code> command. Remember to
                        keep everything lowercase!
                        <img src="{{ static('assets/minervaHelp.gif') }}" alt="Minerva /help command gif">
                        <br>If you’d like to help other hackers, you can use the <code>/minerva add</code> command to tell
                        Minerva the skills that you are familiar with.
                        <img src="{{ static('assets/minervaAdd.gif') }}" alt="Minerva /add command gif">
                        <br>Now, when a hacker asks for help with a skill that you know, you will be automatically
                        matched with that hacker! When you’re done, use <code>/minerva end</code> to end your help
                        session with a hacker.
                        <br>If you’d like to see what you can do with Minerva, just type <code>/minerva</code> anywhere
                        in the MHacks Slack.
                        <img src="{{ static('assets/minerva.gif') }}" alt="Minerva /minerva command gif">
                    </p>
                </div>
            </div>
        </div>
        <div class="mentorship-block">
            <p>
                Need help finding a team? Check out <a href="https://www.venturestorm.com/users/sign_up?type=developer"
                                                       target="_blank">Venturestorm's Team App</a>!
            </p>
        </div>
    </div>
</div>
