<div class="content-box">
    <div class="content-header">
        <h1>Mentorship</h1>
    </div>
    <div class="mentorship-container">
        <h2>
           Some resources to help you get started!
       </h2>
       <h3>
           Check back often, because we'll be adding more links throughout the weekend.
       </h3>
       <p>
           Need a mentor? Head to <a href="#" target="_blank"><< insert mentorship here >></a>!
       </p>
        <p>
            Need help finding a team? Check out <a href="https://www.venturestorm.com/users/sign_up?type=developer" target="_blank">Venturestorm's Team App</a>!
        </p>
    </div>
</div>
