<div class="content-box">
    <div class="content-header">
        <h1>Mentorship</h1>
    </div>
    <div class="mentorship-container">
        <h2>
           Some resources to help you get started!
       </h2>
       <h3>
           Check back often, because we'll be adding more links throughout the weekend.
       </h3>
       <p>
           Need a mentor? Head to the <a href="https://mhacks-hackers.slack.com/" target="_blank">mentorship slack</a> and type "/minerva" to learn more about our mentorship platform!<br>(Sign up <a href="https://mhacks-hackers.slack.com/signup" target="_blank">here</a> first)
       </p>
        <p>
            Need help finding a team? Check out <a href="https://www.venturestorm.com/users/sign_up?type=developer" target="_blank">Venturestorm's Team App</a>!
        </p>
    </div>
</div>
