{% extends 'generic_form.html' %}

{% block form_action %}{{ url_for('mhacks-register') }}{% endblock %}

{% block form_title %}Register{% endblock %}

{% block form_footer %}
    <div> Already have an account? <br> Click <a href="{{ url_for('mhacks-login') }}">here</a> to login!</div>
    <div><a href="{{ url_for('mhacks-reset_password') }}">Forgot password?</a></div>
{% endblock %}

{% block message_title %}Verify Email{% endblock %}
{% block message_info %}
    <h4>We sent you an email. Please verify your email before attempting to login!</h4>
    <p>Didn't get it? Check your spam or <a href="{{ url_for('mhacks-verification-email', kwargs={'user_pk': user_pk}) }}">click here to request another one</a></p>
{% endblock %}
