{% extends 'generic_form.html' %}

{% block form_headers %}
    <link rel="stylesheet" media="all" href="{{ static('stylesheets/application.css') }}">
     <script>
        $(document).ready(function() {
            $("#id_employment").change(function() {
                if (this.value == "none") {
                    $("#id_technical_skills").parent().hide();
                }
                else {
                	$("#id_technical_skills").parent().show();
                }
            });
        });
    </script>
{% endblock %}

{% block basic_page_content %}
    <div style="text-align: left; padding: 20px">
        <p style="text-align: center"><b><i>
            UMich Students - We will be providing buses to and from the venue on Friday and Sunday.
        </i></b></p>
    </div>

    {{ super() }}
{% endblock %}

{% block basic_page_title %}
    {% block form_title %}Registration{% endblock %}
{% endblock %}
