{% extends 'generic_form.html' %}

{% block form_headers %}
    <link rel="stylesheet" media="all" href="{{ static('stylesheets/application.css') }}">
     <script>
        $(document).ready(function() {
            $("#id_employment").change(function() {
                if (this.value == "none") {
                    $("#id_technical_skills").parent().hide();
                }
                else {
                	$("#id_technical_skills").parent().show();
                }
            });
        });
    </script>
{% endblock %}

{% block basic_page_title %}
    {% block form_title %}Registration{% endblock %}
{% endblock %}
