<div class="content-box schedule">
    <div class="content-header">
        <h1>Schedule</h1>
    </div>
    <div class="schedule-legend">
        <h2>Categories:</h2>
        <div class="schedule-categories">
            <h2 class="category-0">General</h2>
            <h2 class="category-1">Logistics</h2>
            <h2 class="category-2">Food</h2>
            <h2 class="category-3">Learn</h2>
            <h2 class="category-4">Social</h2>
        </div>
    </div>
    <div class="schedule-container">
        <div class="time-markers">
            <div class="time-stamps">

            </div>
            <div class="time-lines">

            </div>
        </div>
        <div class="events">

        </div>
    </div>
</div>
<script src="{{ static('javascript/schedule.js') }}" type="text/javascript"></script>
